#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_SHARED_LIBS=ON \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo

# libUrmPlugin is a private plugin, dlopen()ed by URM from a directory that is
# not on the dynamic linker's search path. It neither needs the ldconfig
# trigger nor should it be advertised in a shlibs file.
override_dh_makeshlibs:
	dh_makeshlibs -X/usr/lib/$(DEB_HOST_MULTIARCH)/urm/
